<template>
  <v-snackbar
    app
    v-model="snackbar.visible"
    :timeout="snackbar.timeout"
    :multi-line="snackbar.multiline === true"
  >
    {{ snackbar.text }}

    <template v-slot:action="{ attrs }">
      <v-btn text v-bind="attrs" @click="closeSnackbar"> Cerrar </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { commit, get } from 'vuex-pathify'

export default {
  name: 'snackbar',

  computed: {
    snackbar: get('snackbar/snackbar'),
  },

  methods: {
    closeSnackbar() {
      commit('snackbar/CLOSE_SNACKBAR')
    },
  },
}
</script>