<template>
  <div>
    <h1>Sobre Natural Producers</h1>
    <div class="text-body-1">
      <p class="text-body-2">
        Voluptatem ducimus unde qui qui ipsam voluptatum. Id suscipit eveniet
        non veritatis debitis cumque vel enim. Ipsa est qui nulla mollitia
        dolorem voluptates.
      </p>
      <p>
        Nostrum ut et consequuntur rerum enim libero corrupti asperiores.
        Voluptatem sunt autem sint. Numquam aspernatur repellendus libero quod
        consequuntur explicabo tempora. Voluptas debitis atque non magnam iusto
        quisquam non eum. Repudiandae ex illum enim sed animi voluptatum animi
        a.
      </p>
      <p>
        Ullam officia quod veniam consectetur accusantium deserunt rerum.
        Facilis possimus molestiae harum repellendus cupiditate quasi sequi quo.
        Qui voluptatum est qui doloremque enim nesciunt repellendus. Accusamus
        atque quis dignissimos. Veniam earum consequatur quasi. Ab corporis qui
        rerum quae accusamus. Consequatur modi sint enim sit. Molestias tenetur
        numquam dolorum architecto esse. Deleniti quod adipisci et laboriosam
        rem veritatis quis quia. Non magnam sed perferendis aut. Inventore
        officia officiis qui praesentium. Officiis commodi officia maxime ullam
        aspernatur dolorum doloribus quia.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'barBack',
}
</script>
