<template>
  <v-autocomplete
    v-model="producerRelationToAddProducer"
    :loading="loading"
    item-text="name"
    item-value="_id"
    :items="items"
    :search-input.sync="search"
    flat
    hide-no-data
    label="Organización"
    no-filter
    placeholder="Escribe para buscar"
    return-object
    :rules="[$rules().required]"
  ></v-autocomplete>
</template>

<script>
import { sync } from 'vuex-pathify'
import _debounce from 'lodash/debounce'

export default {
  data() {
    return {
      loading: false,
      items: [],
      search: null,
      val: null,
      querySelectionsDebounced: _debounce(this.querySelections, 500)
    }
  },

  computed: {
    producerRelationToAddProducer: sync(
      'producers/producerRelationToAdd@producer'
    )
  },

  watch: {
    search(val) {
      val &&
        val.length > 2 &&
        val !== this.select &&
        this.querySelectionsDebounced()
      this.val = val
    }
  },

  methods: {
    querySelections() {
      this.loading = true
      this.$axios
        .$get(`/producers?search=${this.val}`)
        .then((res) => (this.items = res.docs))
        .then(() => (this.loading = false))
    }
  }
}
</script>
