<template>
  <v-bottom-sheet v-model="sheet" inset scrollable eager>
    <template #activator="{ on, attrs }">
      <v-slide-item>
        <v-chip
          class="mr-2"
          close
          :close-icon="location ? undefined : 'mdi-chevron-down'"
          label
          small
          :outlined="!location"
          v-bind="attrs"
          v-on="on"
          @click:close="onCloseIcon"
        >
          <v-icon left small>mdi-map-marker-radius-outline</v-icon>
          <LocationShow v-if="location" :location="location"></LocationShow>
          <template v-else>Proximidad</template>
        </v-chip>
      </v-slide-item>
    </template>

    <LocationSelector
      v-if="sheet"
      card-title="Ordena por proximidad"
      :location-already-selected="location"
      :show-clean-btn="true"
      @change="onApply"
      @close="sheet = false"
    ></LocationSelector>
  </v-bottom-sheet>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import LocationSelector from '@/components/location/selector.vue'

export default {
  components: {
    LocationSelector
  },

  data: () => ({
    sheet: false
  }),

  computed: {
    location: get('producersfilter/sort@location'),
    searchResultList: sync('locations/searchResult')
  },

  methods: {
    onApply(locationSelected) {
      this.sheet = false
      this.$emit('change', locationSelected)
    },

    onCloseIcon() {
      if (this.location) {
        this.$emit('change', null)
      } else {
        this.sheet = true
      }
    }
  }
}
</script>

<style scoped>
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
</style>
