<template>
  <div>
    <div style="height: 100vh; width: 100vw">
      <client-only>
        <l-map
          ref="producersMap"
          :center="
            sortLocationReversedCoordinates
              ? sortLocationReversedCoordinates
              : [36.71656, -4.42545]
          "
          :options="{ zoomControl: false }"
          :zoom="6"
          @ready="onMapReady()"
        >
          <l-tile-layer
            url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
            attribution="https://www.openstreetmap.org/copyright"
          ></l-tile-layer>

          <l-geo-json
            :geojson="producersGeomaped"
            :options="lGeoJsonOptions"
          ></l-geo-json>

          <l-locate-control ref="locateControl" />
          <l-control-zoom
            position="topleft"
            zoom-in-title="Acercar"
            zoom-out-title="Alejar"
          ></l-control-zoom>
        </l-map>
      </client-only>
    </div>

    <v-bottom-sheet v-model="sheet" hide-overlay>
      <!-- v-sheet for avoid removing padding from v-card__text -->
      <v-sheet>
        <producer-card
          ref="producerCard"
          :config="producerCardConfig"
          :producer="producerSelected"
        ></producer-card>
      </v-sheet>
    </v-bottom-sheet>
  </div>
</template>

<script>
import { get } from 'vuex-pathify'
import ProducerCard from '@/components/producer/Card.vue'

let L = {}
let Vue2Leaflet = {}
let Vue2LeafletLocatecontrol = {}
if (process.client) {
  L = require('leaflet')
  Vue2Leaflet = require('vue2-leaflet')
  Vue2LeafletLocatecontrol = require('vue2-leaflet-locatecontrol')
}

export default {
  name: 'ProducerMap',

  components: {
    LControlZoom: Vue2Leaflet.LControlZoom,
    LMap: Vue2Leaflet.LMap,
    LTileLayer: Vue2Leaflet.LTileLayer,
    LGeoJson: Vue2Leaflet.LGeoJson,
    ProducerCard,
    LLocateControl: Vue2LeafletLocatecontrol,
  },

  data: () => ({
    map: undefined,
    producerSelected: null,
    producerCardConfig: { hideProducts: true },
    sheet: false,
  }),

  computed: {
    filterSortLocation: get('producersfilter/sort@location'),
    producersGeomaped: get('producers/listGeomaped'),
    sortLocationReversedCoordinates: get(
      'producersfilter/sortLocationReversedCoordinates'
    ),
    lGeoJsonOptions() {
      return {
        onEachFeature: this.onEachFeatureFunction,
        pointToLayer: this.pointToLayerFunction,
      }
    },

    onEachFeatureFunction() {
      return (feature, layer) => {
        layer.bindTooltip(feature.producer.name, { direction: 'bottom' })
        layer.on('click', this.onMarkClick)
      }
    },

    pointToLayerFunction() {
      return (feature, latlng) => {
        const needsCovered = feature.producer.needsCovered
        let background
        let icon
        switch (true) {
          case needsCovered === null:
            background = 'grey'
            icon = 'help'
            break
          case needsCovered.length > 1:
            background = 'linear-gradient(301deg, #86c8bc 42%, #9FACE6 57%);'
            icon = 'store'
            break
          case needsCovered.length === 1:
            background = needsCovered[0].color
            icon = needsCovered[0].icon
            break
          default:
            break
        }

        return L.marker(latlng, {
          icon: L.divIcon({
            className: 'map-marker',
            html: `
              <div class="map-marker__pin ${icon}">
                <span class="map-marker__pin-inner" style="background: ${background}"></span>
              </div>
              <i class="map-marker__icon v-icon notranslate mdi mdi-${icon} theme--dark"></i>
            `,
            iconAnchor: [22, 56],
            iconSize: [45, 45],
          }),
        })
      }
    },
  },

  methods: {
    onMapClick() {
      this.sheet = false
    },

    onMapReady() {
      this.map = this.$refs.producersMap.mapObject
      this.map.attributionControl.setPrefix(
        '<a href="https://leafletjs.com" rel="external" target="_blank" title="A JavaScript library for interactive maps">Leaflet</a>'
      )
      this.map.on('click', this.onMapClick)
      if (this.sortLocationReversedCoordinates) this.map.zoomIn(5)
    },

    onMarkClick(mouseEvent) {
      if (
        this.sheet &&
        this.producerSelected._id ===
          mouseEvent.sourceTarget.feature.producer._id
      ) {
        this.sheet = false
      } else {
        this.sheet = false
        setTimeout(() => {
          this.producerSelected = mouseEvent.sourceTarget.feature.producer
          this.sheet = true
        }, 300)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.v-dialog__content.v-dialog__content--active {
  z-index: 404 !important;
}
</style>
