<template>
  <v-select
    v-model="producerRelationToAddRelationType"
    :hint="
      producerRelationToAddRelationType &&
        producerRelationToAddRelationType.description.es_es
    "
    :items="producerRelationTypes"
    item-text="name.es_es"
    item-value="_id"
    label="Tipo de relación"
    persistent-hint
    return-object
    :rules="[$rules().required]"
  >
    <template #item="data">
      <v-list-item-content>
        <v-list-item-title>{{ data.item.name.es_es }}</v-list-item-title>
        <v-list-item-subtitle>{{
          data.item.description.es_es
        }}</v-list-item-subtitle>
      </v-list-item-content>
    </template>
  </v-select>
</template>

<script>
import { sync } from 'vuex-pathify'

export default {
  data() {
    return {
      producerRelationTypes: undefined
    }
  },

  async fetch() {
    this.producerRelationTypes = await this.$axios.$get(
      '/producer-relation-types'
    )
  },

  computed: {
    producerRelationToAddRelationType: sync(
      'producers/producerRelationToAdd@relationType'
    )
  }
}
</script>

<style>
.v-list-item__title,
.v-list-item__subtitle {
  white-space: normal;
}
</style>
