<template>
  <v-dialog v-model="show" max-width="500">
    <v-form v-model="formValid">
      <v-card>
        <v-card-title> Añade una relación </v-card-title>

        <v-card-text>
          <ProducersRelationTypeSelect class="mb-6" />
          <ProducersAutocomplete class="mb-6" />
          <div
            v-if="
              producerRelationToAdd.producer && producerRelationToAdd.relationType
            "
          >
            {{ producerName || 'Esta organización' }}
            <strong>{{
              producerRelationToAdd.relationType.name.es_es.toLowerCase()
            }}</strong>
            la organización
            <strong>{{ producerRelationToAdd.producer.name }}</strong
            >.
          </div>
        </v-card-text>

        <v-divider />

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            plain
            :disabled="producerRelationSaving"
            @click.native="$emit('input', false)"
            >Cancelar</v-btn
          >
          <v-btn
            color="primary"
            :disabled="!formValid"
            :loading="producerRelationSaving"
            text
            @click="$emit('apply'); $emit('input', false)"
            >Aplicar</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import ProducersAutocomplete from '@/components/producers/autocomplete.vue'
import ProducersRelationTypeSelect from '@/components/producers/relationTypeSelect.vue'

export default {
  components: {
    ProducersAutocomplete,
    ProducersRelationTypeSelect,
  },

  props: {
    value: Boolean,
  },

  data() {
    return {
      formValid: false,
    }
  },

  computed: {
    producerName: get('producers/producer@name'),
    producerRelationToAdd: sync('producers/producerRelationToAdd'),
    producerRelationSaving: get('producers/producerRelationSaving'),
    show: {
      get() {
        return this.value
      },
      set(value) {
        this.$emit('input', value)
      },
    },
  },
}
</script>
