<template>
  <div class="d-flex flex-wrap gap-2">
    <div v-for="(a, i) in activisms" :key="i" class="d-flex align-center">
      <v-icon left>{{ 'icon-' + a.icon }}</v-icon>
      {{ a.name.es_es }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    activisms: {
      type: Array,
      required: true
    }
  }
}
</script>
