<template>
  <v-autocomplete
    v-model="producerActivisms"
    :items="activismsList"
    chips
    label="Activismos"
    item-text="name.es_es"
    item-value="_id"
    multiple
    prepend-icon="mdi-bullhorn-outline"
  >
    <template #selection="data">
      <v-chip label v-bind="data.attrs" :input-value="data.selected">
        <v-avatar left>
          <v-icon>{{ 'icon-' + data.item.icon }}</v-icon>
        </v-avatar>
        {{ data.item.name.es_es }}
      </v-chip>
    </template>
    <template #item="data">
      <v-list-item-avatar>
        <v-icon>{{ 'icon-' + data.item.icon }}</v-icon>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{ data.item.name.es_es }}</v-list-item-title>
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script>
import { get, sync } from 'vuex-pathify'

export default {
  computed: {
    activismsList: get('activisms/list'),
    producerActivisms: sync('producers/producer@activisms')
  }
}
</script>
