<template>
  <div>list</div>
</template>

<script>
export default {
  data() {
    return {
      producerRelationTypes: [],
      selected: undefined
    }
  },

  async fetch() {
    this.producerRelationTypes = await this.$axios.$get(
      '/producerRelationTypes'
    )
  }
}
</script>
