<template>
  <v-card outlined>
    <v-card-text>
      <v-icon left :color="chapter.chapter.metaData.iconColor">
        {{ chapter.chapter.metaData.iconCode }}
      </v-icon>
      <span class="body-1">{{ chapter.chapter.name.es_es }}</span>

      <v-list dense>
        <v-list-item v-for="(item, i) in chapter.headings" :key="i">
          <v-list-item-icon>
            <v-icon
              small
              :color="item.metaData.iconColor"
              v-text="item.metaData.iconCode"
            ></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title
              class="font-weight-light"
              v-text="item.name.es_es"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
    <v-card-actions>
      <v-btn icon small @click="$emit('remove')">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
      <v-btn small icon @click="$emit('edit')">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    chapter: {
      type: Object,
      default: null
    }
  }
}
</script>
