<template>
  <v-dialog v-model="userSigninDialog" max-width="500">
    <v-card>
      <v-card-title> Loguearse </v-card-title>

      <v-card-text>
        <user-form-comp
          button-text="Entrar"
          :config="userFormConfig"
          :loading="isLoggingInUser"
          :submit="signin"
        />

        <v-row>
          <v-col cols="12">
            <v-btn
              color="primary"
              block
              x-large
              text
              @click="closeAndNavigateTo('/users/recovery-password')"
            >
              Recuperar contraseña
            </v-btn>
            <v-btn
              color="primary"
              block
              x-large
              text
              @click="closeAndOpenSignupDialog()"
            >
              Registrarse
            </v-btn>
          </v-col>
        </v-row>

        <v-row v-if="loginFail">
          <v-col>
            <v-alert type="warning"> Mal </v-alert>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import UserFormComp from '~/components/UserForm.vue'

export default {
  components: { UserFormComp },

  data() {
    return {
      loginFail: false,
      userFormConfig: {
        controls: ['email', 'password'],
      },
    }
  },

  computed: {
    isLoggingInUser: get('users/isLoggingInUser'),
    userSigninDialog: sync('users/signinDialog'),
    userSignupDialog: sync('users/signupDialog'),
  },

  methods: {
    closeAndNavigateTo(route) {
      this.$router.push(route)
      this.$emit('input', false)
    },

    closeAndOpenSignupDialog() {
      this.userSignupDialog = true
      this.userSigninDialog = false
    },

    /**
     * Dispatch 'users' store 'signin' action.
     * Set `loginFail` to true if signin fails.
     * Set `userSigninDialog` to false when it finish.
     * @param {{email: string, password: string, username: string }} userData
     * @returns {void}
     */
    async signin(userData) {
      await this.$store
        .dispatch('users/signin', userData)
        .catch((_err) => (this.loginFail = true))
      this.userSigninDialog = false
    },
  },
}
</script>
