<template>
  <v-dialog v-model="userSignupDialog" max-width="500">
    <v-card>
      <v-card-title> Registrarse </v-card-title>

      <v-card-text>
        <user-form-comp
          ref="userFormComp"
          button-text="Registrarse"
          :config="userFormConfig"
          :loading="isRegisteringUser"
          :submit="signup"
        />

        <v-row>
          <v-col cols="12">
            <v-btn
              color="primary"
              block
              x-large
              text
              @click="closeAndOpenSigninDialog()"
              >Inicia sesión</v-btn
            >
          </v-col>
        </v-row>

        <v-row v-if="userCreated">
          <v-col>
            <v-alert type="warning"> Email en uso. </v-alert>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { sync } from 'vuex-pathify'
import UserFormComp from '~/components/UserForm.vue'
export default {
  components: { UserFormComp },

  data() {
    return {
      userCreated: false,
      userFormConfig: {
        controls: ['email', 'password', 'username'],
      },
      isRegisteringUser: false,
    }
  },

  computed: {
    userSigninDialog: sync('users/signinDialog'),
    userSignupDialog: sync('users/signupDialog'),
  },

  methods: {
    closeAndOpenSigninDialog() {
      this.userSigninDialog = true
      this.userSignupDialog = false
    },

    async signup(form) {
      this.isRegisteringUser = true
      await this.$store
        .set('users/signup!', form)
        .then(() => this.$store.set('users/signin!', form))
        .then(() => (this.userSignupDialog = false))
        .catch((err) => {
          if (err.response.status === 422) {
            switch (true) {
              case !!err.response.data.keyPattern.username:
                this.$refs.userFormComp.usernameDuplicatedRule =
                  'Nombre ya en uso'
                break
              case !!err.response.data.keyPattern.email:
                this.$refs.userFormComp.emailDuplicatedRule = 'Email ya en uso'
                break
              default:
                break
            }
            this.$refs.userFormComp.$refs.form.validate()
          }
        })
        .finally(() => {
          this.isRegisteringUser = false
        })
    },
  },
}
</script>
