<template>
  <v-card outlined tile tag="article">
    <v-card-text class="pb-0">
      <!-- NEEDS COVERED -->
      <v-chip
        v-for="need in producer.needsCovered"
        :key="need._id"
        class="mr-2 mb-2"
        :color="need.color || 'secondary'"
        label
        x-small
        text-color="white"
      >
        <v-icon left x-small> mdi-label </v-icon>
        {{ need.name.es_es }}
      </v-chip>
    </v-card-text>

    <!-- TITLE -->
    <v-card-title class="pt-0" tag="h3">
      <nuxt-link :to="'/producers/' + producer._id" rel="related">{{
        producer.name
      }}</nuxt-link>
    </v-card-title>

    <v-card-subtitle>
      <!-- LOCATION -->
      <div v-if="producer.locations[0]" class="d-flex">
        <v-icon left small>mdi-map-marker</v-icon>
        <LocationShow
          address-type="cityAndState"
          link
          :location="producer.locations[0]"
          small
        />
      </div>

      <!-- ORGANIZATIONAL TYPE -->
      <div v-if="producer.organizationalType">
        <v-icon left small>mdi-account-group</v-icon>
        <span class="text-caption">
          {{ producer.organizationalType.name.es_es }}
        </span>
      </div>

      <!-- TYPES -->
      <v-chip-group column>
        <v-chip
          v-for="type in producer.types"
          :key="type.code"
          label
          outlined
          small
        >
          <v-icon small class="mr-1">{{ type.icon }}</v-icon>
          <span class="text-caption">{{ type.name.es_es }}</span>
        </v-chip>
      </v-chip-group>

      <!-- DESCRIPTION -->
      {{ producer.description }}
    </v-card-subtitle>

    <!-- PRODUCTS -->
    <template v-if="!config.hideProducts && producer.productCategories.length">
      <v-divider class="mx-4"></v-divider>

      <v-card-text>
        <h4 class="text-caption">Categorías de productos o servicios</h4>
        <div>
          <v-chip
            v-for="(item, i) in producer.productCategories"
            :key="i"
            class="my-1 mr-2"
            small
            label
            >{{
              (item.alternateName && item.alternateName.es_es) ||
                item.name.es_es
            }}</v-chip
          >
        </div>
      </v-card-text>
    </template>

    <!-- ACTIVISMS -->
    <template
      v-if="
        !config.hideActivisms && producer.activisms && producer.activisms.length
      "
    >
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <h4 class="text-caption">Activismos</h4>
        <ActivismsList :activisms="producer.activisms"></ActivismsList>
      </v-card-text>
    </template>

    <!-- CERTIFICATES -->
    <template v-if="!config.hideCertificates && producer.certifications.length">
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <h4 class="text-caption">Certificados</h4>
        <certifications-list
          :certifications="producer.certifications"
        ></certifications-list>
      </v-card-text>
    </template>

    <!-- CONTACT -->
    <template v-if="!config.hideContact && hasSomeContactInfo">
      <v-divider class="mx-4"></v-divider>
      <v-card-text>
        <h4 class="text-caption">Contacto</h4>
        <div v-if="producer.locations[0]" class="d-flex">
          <v-icon left small>mdi-home-map-marker</v-icon>
          <LocationShow
            address-type="untilStateMedium"
            link
            :location="producer.locations[0]"
            show-street-address-extra-info
            small
          />
        </div>

        <div
          v-if="producer.contactWebs && producer.contactWebs[0]"
          class="d-flex mt-1"
        >
          <v-icon left small>mdi-web</v-icon>
          <a :href="producer.contactWebs[0]" rel="external">
            <span class="text-caption">{{ producer.contactWebs[0] }}</span>
          </a>
        </div>

        <div
          v-if="producer.contactEmails && producer.contactEmails[0]"
          class="d-flex mt-1"
        >
          <v-icon left small>mdi-email</v-icon>
          <a :href="`mailto:${producer.contactEmails[0]}`" rel="external">
            <span class="text-caption">{{ producer.contactEmails[0] }}</span>
          </a>
        </div>

        <div
          v-if="producer.contactPhones && producer.contactPhones[0]"
          class="d-flex mt-1"
        >
          <v-icon left small>mdi-phone</v-icon>
          <a :href="`tel:${producer.contactPhones[0]}`" rel="external">
            <span class="text-caption">{{ producer.contactPhones[0] }}</span>
          </a>
        </div>

        <div
          v-if="producer.contactPhones && producer.contactPhones[1]"
          class="d-flex mt-1"
        >
          <v-icon left small>mdi-phone</v-icon>
          <a :href="`tel:${producer.contactPhones[1]}`" rel="external">
            <span class="text-caption">{{ producer.contactPhones[1] }}</span>
          </a>
        </div>
      </v-card-text>
    </template>

    <!-- CARD ACTIONS -->
    <v-card-actions v-if="!config.hideActions">
      <v-spacer></v-spacer>
      <v-btn icon @click="onFavouriteClick()">
        <v-icon :color="isFavourite ? 'red' : undefined">mdi-bookmark</v-icon>
      </v-btn>
      <v-btn
        v-if="config.canRemove"
        icon
        @click.stop="$emit('remove', producer)"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-speed-dial
        v-if="config.canEdit || config.canDelete"
        v-model="fab"
        direction="top"
      >
        <template #activator>
          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-btn
          v-if="config.canEdit"
          :to="`/producers/${producer._id}/update`"
          fab
          dark
          small
          color="success"
        >
          <v-icon>mdi-pencil</v-icon>
        </v-btn>

        <v-btn
          v-if="config.canDelete"
          color="error"
          dark
          fab
          small
          @click="$emit('delete', producer)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </v-speed-dial>
    </v-card-actions>
  </v-card>
</template>

<script>
import { get, call, sync } from 'vuex-pathify'
import ActivismsList from '@/components/activisms/list.vue'
import CertificationsList from '@/components/CertificationsList.vue'

export default {
  components: {
    ActivismsList,
    CertificationsList
  },

  props: {
    config: {
      type: Object,
      default: () => ({
        canDelete: false,
        canEdit: false,
        hideActions: false,
        hideActivisms: false,
        hideCertificates: false,
        hideContact: false,
        hideProducts: false
      })
    },

    producer: {
      required: true,
      type: Object
    }
  },

  data() {
    return {
      fab: false
    }
  },

  computed: {
    hasSomeContactInfo() {
      return Boolean(
        this.producer.contactEmails.length ||
          this.producer.contactPhones.length ||
          this.producer.contactWebs.length ||
          this.producer.locations.length
      )
    },

    isFavourite() {
      return (
        this.$auth.loggedIn &&
        this.$auth.user.favourites &&
        this.$auth.user.favourites[this.producer._id]
      )
    },

    producerTypes: get('producerTypes/list'),

    userSigninDialog: sync('users/signinDialog')
  },

  methods: {
    onFavouriteClick() {
      if (this.$auth.loggedIn) {
        this.toggleFavourite({
          producerId: this.producer._id,
          add: !this.isFavourite
        })
      } else {
        this.userSigninDialog = true
      }
    },

    toggleFavourite: call('users/toggleFavourite')
  }
}
</script>
