<template>
  <v-form v-model="formValidity" @submit.prevent="$emit('submit')">
    <v-row>
      <v-col cols="12">
        <!-- NAME -->
        <v-text-field
          v-model.trim="producer.name"
          label="Nombre"
          prepend-icon="mdi-nature-people"
          required
          :rules="[formRules.required, formRules.counter]"
        ></v-text-field>
      </v-col>

      <!-- DESCRIPTION -->
      <v-col cols="12">
        <v-textarea
          v-model.trim="producer.description"
          name="description"
          label="Descripción"
          hint="Descripción, título o slogan que describa al productor."
          prepend-icon="mdi-script-text-outline"
          rows="3"
        ></v-textarea>
      </v-col>

      <!-- ACTIVISMS -->

      <v-col cols="12">
        <ActivismsSelector></ActivismsSelector>
      </v-col>

      <!-- CERTIFICATIONS -->
      <v-col cols="12">
        <v-autocomplete
          v-model="producer.certifications"
          :items="certificationList"
          chips
          label="Certificaciones"
          item-text="abbreviation"
          item-value="_id"
          multiple
          prepend-icon="mdi-text-box-check-outline"
        >
          <template #selection="data">
            <v-chip label v-bind="data.attrs" :input-value="data.selected">
              <v-avatar left>
                <v-icon>{{
                  'icon-' + data.item.abbreviation.toLowerCase()
                }}</v-icon>
              </v-avatar>
              {{ data.item.abbreviation }}
            </v-chip>
          </template>
          <template #item="data">
            <v-list-item-avatar>
              <v-icon>{{
                'icon-' + data.item.abbreviation.toLowerCase()
              }}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title>{{
                data.item.abbreviation
              }}</v-list-item-title>
              <v-list-item-subtitle
                >{{ data.item.name.es_es }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </template>
        </v-autocomplete>
      </v-col>

      <v-col cols="12">
        <h2>Tipos</h2>

        <!-- ACTIVITY TYPE -->
        <v-select
          v-model="producer.types"
          :items="producerTypes"
          item-text="name.es_es"
          item-value="_id"
          label="Según tipo de actividad"
          multiple
          prepend-icon="mdi-all-inclusive"
          return-object
        ></v-select>

        <!-- NEEDS COVERED -->
        <v-select
          v-model="producer.needsCovered"
          :items="needs"
          item-text="name.es_es"
          item-value="_id"
          label="Según la necesidad que cubre"
          multiple
          prepend-icon="mdi-room-service-outline"
          return-object
        ></v-select>

        <!-- ORGANIZATIONAL TYPE -->
        <v-select
          v-model="producer.organizationalType"
          :hint="
            producer.organizationalType &&
              producer.organizationalType.description &&
              producer.organizationalType.description.es_es
          "
          :items="organizationalTypes"
          item-text="name.es_es"
          item-value="_id"
          label="Según forma de organizarse"
          persistent-hint
          prepend-icon="mdi-account-group-outline"
          return-object
        ></v-select>
      </v-col>
    </v-row>

    <!-- PRODUCT CATEGORIES -->
    <v-row>
      <v-col cols="12">
        <h2 class="mb-3">Categorías de Productos</h2>

        <ProductCategoryBottomSheetSelector></ProductCategoryBottomSheetSelector>

        <ProductCategoryList
          v-if="producerProductCategories.length"
          @remove="productCategoryRemove($event)"
        ></ProductCategoryList>
      </v-col>
    </v-row>

    <!-- CONTACT -->
    <v-row>
      <v-col cols="12">
        <h2>Contacto</h2>
      </v-col>

      <!-- EMAIL -->
      <v-col cols="12" md="6">
        <v-text-field
          v-model.trim="producer.contactEmails[0]"
          label="Email"
          prepend-icon="mdi-email-outline"
          :rules="[formRules.email]"
        ></v-text-field>
      </v-col>

      <!-- WEB -->
      <v-col cols="12" md="6">
        <v-text-field
          v-model.trim="producer.contactWebs[0]"
          label="Web"
          prepend-icon="mdi-web"
        ></v-text-field>
      </v-col>

      <!-- PHONE 1 -->
      <v-col cols="12" md="6">
        <TelInput
          :phone-initial="producerPhones[0]"
          @input="producerPhones[0] = $event"
        />
      </v-col>

      <!-- PHONE 2 -->
      <v-col cols="12" md="6">
        <TelInput
          label="Otro número de teléfono"
          :phone-initial="producerPhones[1]"
          @input="producerPhones[1] = $event"
        />
      </v-col>
    </v-row>

    <!-- LOCATION -->
    <v-row>
      <v-col cols="12">
        <h2>Localizacion</h2>
      </v-col>

      <v-col cols="12">
        <v-btn class="mb-3" @click="locationSelectorSheet = true"
          ><v-icon left> mdi-pencil-outline </v-icon>Editar</v-btn
        >
      </v-col>

      <v-bottom-sheet v-model="locationSelectorSheet" eager inset scrollable>
        <LocationSelector
          v-if="locationSelectorSheet"
          card-title="Escoge localización"
          :location-already-selected="producer.locations[0]"
          :show-street-address-extra-info="true"
          @change="onLocationSelectorSelect"
          @close="locationSelectorSheet = false"
        ></LocationSelector>
      </v-bottom-sheet>

      <v-col cols="12">
        <h3 v-if="producer.locations.length" class="text-subtitle-1 mb-3">
          Seleccionada:
        </h3>

        <v-list>
          <v-list-item v-for="(location, i) in producer.locations" :key="i">
            <v-list-item-icon>
              <v-icon>mdi-map-marker-radius-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                <LocationShow
                  :location="location"
                  show-street-address-extra-info
                />
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click="locationRemove(location)">
                <v-icon>mdi-close-circle-outline</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>

    <!-- RELATIONS -->
    <v-row>
      <v-col cols="12">
        <h2>Relaciones</h2>
      </v-col>

      <v-col cols="12">
        <v-btn @click="producersRelationAddDialog = true">
          <v-icon left> mdi-plus </v-icon>
          Añadir relación
        </v-btn>

        <ProducersRelationAddDialog
          v-model="producersRelationAddDialog"
          @apply="$emit('addProducerRelation')"
        />
      </v-col>

      <v-col cols="12">
        <ProducerRelations
          :producer-card-config="{
            canRemove: true,
            hideContact: true,
            hideProducts: true
          }"
          @removeProducerRelation="$emit('removeProducerRelation', $event)"
        />
      </v-col>
    </v-row>

    <!-- Button to handle form submission -->
    <v-btn v-show="false" :disabled="!formValidity" type="submit"></v-btn>
  </v-form>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import ActivismsSelector from '@/components/activisms/selector.vue'
import LocationSelector from '@/components/location/selector.vue'
import ProducersRelationAddDialog from '~/components/producers/relationAddDialog.vue'
import ProducerRelations from '@/components/producer/Relations.vue'
import TelInput from '@/components/TelInput.vue'

export default {
  components: {
    ActivismsSelector,
    LocationSelector,
    ProducersRelationAddDialog,
    ProducerRelations,
    TelInput
  },

  data() {
    return {
      formRules: this.$rules(),
      locationSearchLoading: false,
      locationSearchResult: [],
      locationSearchString: null,
      locationSelectorSheet: false,
      producersRelationAddDialog: false,
      productChapterSelectedIndex: null,
      productChaptersDialog: false
    }
  },

  computed: {
    certificationList: get('certifications/list'),
    formValidity: sync('producers/formValidity'),
    needs: get('needs/list'),
    organizationalTypes: get('organizationalTypes/list'),
    producer: sync('producers/producer'),
    producerPhones: sync('producers/producer@contactPhones'),
    producerProductCategoriesIds: get('producers/productCategoriesIds'),
    producerProductCategories: sync('producers/producer@productCategories'),
    producerRelations: sync('producers/producer@relations'),
    producerTypes: get('producerTypes/list')
  },

  methods: {
    onLocationSelectorSelect(location) {
      this.producer.locations[0] = location
      this.locationSearchResult = []
      this.locationSelectorSheet = false
    },

    locationRemove(location) {
      this.producer.locations = this.producer.locations.filter(
        (i) => i.properties.osm_id !== location.properties.osm_id
      )
      this.locationSearchResult.unshift(location)
    },

    productCategoryAdd(products) {
      products.forEach((product) => {
        if (!this.producerProductCategoriesIds.includes(product._id)) {
          this.producerProductCategories.push(product)
        }
      })
    },

    productCategoryRemove(productCategoryIndex) {
      this.producerProductCategories.splice(productCategoryIndex, 1)
    },

    onPhoneInput(phone, index) {
      this.producerPhones[index] = phone
    }
  }
}
</script>
