<template>
  <div style="height: 40vh">
    <client-only>
      <l-map
        ref="map"
        :zoom="11"
        :center="[producerCoordinates[1], producerCoordinates[0]]"
        :options="{ dragging: !isMobile }"
        @ready="onMapReady"
      >
        <l-tile-layer
          url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
          attribution="https://www.openstreetmap.org/copyright"
        ></l-tile-layer>

        <l-marker :lat-lng="[producerCoordinates[1], producerCoordinates[0]]">
          <l-icon
            :icon-anchor="[22, 56]"
            :icon-size="[45, 45]"
            class-name="map-marker"
          >
            <div class="map-marker__pin">
              <span class="map-marker__pin-inner"></span>
            </div>
          </l-icon>
        </l-marker>
      </l-map>
    </client-only>
  </div>
</template>

<script>
import { get } from 'vuex-pathify'

let Vue2Leaflet = {}
if (process.client) Vue2Leaflet = require('vue2-leaflet')

export default {
  name: 'ProducerMap',

  components: {
    LMap: Vue2Leaflet.LMap,
    LTileLayer: Vue2Leaflet.LTileLayer,
    LMarker: Vue2Leaflet.LMarker,
  },

  computed: {
    isMobile() {
      return this.$vuetify.breakpoint.mobile
    },
    map() {
      return this.$refs.map.mapObject
    },
    producerCoordinates: get(
      'producers/producer@locations.0.geometry.coordinates'
    ),
  },

  methods: {
    onMapReady() {
      this.map.attributionControl.setPrefix(
        '<a href="https://leafletjs.com" rel="external" target="_blank" title="A JavaScript library for interactive maps">Leaflet</a>'
      )
    },
  }
}
</script>

<style>
.leaflet-pane {
  z-index: 40;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 100;
}
</style>
