<template>
  <div>
    <div v-for="(producersByRelation, code, i) in producerRelations" :key="i">
      <div>
        <h3 class="mb-3">{{ producerRelationTypesNames[code] }}</h3>
        <masonry
          :cols="{ default: 5, 1904: 4, 1264: 3, 960: 2, 600: 1 }"
          :gutter="{ default: '30px', 700: '15px' }"
        >
          <template
            v-for="(
              producerRelation, producerRelationIndex
            ) of producersByRelation"
          >
            <ProducerCard
              :key="producerRelationIndex"
              class="mb-9"
              :config="producerCardConfig"
              :producer="producerRelation"
              @remove="$emit('removeProducerRelation', { producer: $event, producerRelationTypeCode: code })"
            ></ProducerCard>
          </template>
        </masonry>
      </div>
    </div>
  </div>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import ProducerCard from '@/components/producer/Card.vue'

export default {
  components: {
    ProducerCard,
  },

  props: {
    producerCardConfig: {
      type: Object,
      default: undefined,
    },
  },

  data() {
    return {
      producerRelationRemoveDialog: false,
    }
  },

  computed: {
    producerRelations: sync('producers/producer@relations'),
    producerRelationTypesNames: get(
      'producerRelationTypes/producerRelationTypesNames'
    ),
  }
}
</script>
