<template>
  <v-dialog v-model="dialog" width="500">
    <template #activator="{ on, attrs }">
      <v-btn v-bind="attrs" v-on="on">
        <v-icon left>
          mdi-plus
        </v-icon>
        Añadir
      </v-btn>
    </template>

    <form @submit.prevent="apply(selecteds)">
      <v-card>
        <v-card-title>
          Categorías de productos
        </v-card-title>

        <v-card-text>
          Indica las categorías de productos con los que trabaja la
          organización.
        </v-card-text>

        <v-card-text>
          <v-autocomplete
            v-for="(_selected, index) in selecteds"
            :key="index"
            v-model="selecteds[index]"
            clearable
            :filter="productsFilter"
            :items="products"
            item-text="name.es_es"
            item-value="_id"
            return-object
          >
            <template #item="{ item }">
              <v-list-item-avatar horizontal>
                <v-icon :color="item.metaData.iconColor">
                  {{ item.metaData.iconCode }}
                </v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ item.name.es_es }}</v-list-item-title>
                <v-list-item-subtitle v-if="item.keywords">
                  {{ item.keywords.es_es }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </v-autocomplete>
          <v-btn color="primary" small text @click="selecteds.push(null)">
            Añadir otra categoría
          </v-btn>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn plain @click="dialog = false">
            Cancelar
          </v-btn>
          <v-btn color="primary" text type="submit">
            Aplicar
          </v-btn>
        </v-card-actions>
      </v-card>
    </form>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      products: [],
      selecteds: [null]
    }
  },

  async fetch() {
    this.products = await this.$axios.$get('/products')
  },

  methods: {
    apply(selecteds) {
      this.$emit('apply', selecteds)
      this.dialog = false
      this.selecteds = [null]
    },

    productsFilter(item, queryText, _itemText) {
      const name = item.name.es_es.toLowerCase()
      const keywords =
        item.keywords && item.keywords.es_es
          ? item.keywords.es_es.toLowerCase()
          : ''
      const alternateName =
        item.alternateName && item.alternateName.es_es
          ? item.alternateName.es_es.toLowerCase()
          : ''
      const searchText = queryText.toLowerCase()

      return (
        name.includes(searchText) ||
        keywords.includes(searchText) ||
        alternateName.includes(searchText)
      )
    }
  }
}
</script>
