<template>
  <v-bottom-sheet v-model="sheetModel" inset :scrollable="true">
    <template #activator="{ on, attrs }">
      <v-slide-item>
        <v-chip
          class="mr-2"
          close
          :close-icon="itemsSelected.length ? undefined : 'mdi-chevron-down'"
          label
          :outlined="!itemsSelected.length"
          small
          v-bind="attrs"
          v-on="on"
          @click:close="onCloseIcon"
        >
          <v-icon left small> mdi-ab-testing </v-icon>
          {{
            (itemsSelected.length &&
              itemsSelected.map((e) => e.name.es_es).join(', ')) ||
              'Tipos de organización'
          }}
        </v-chip>
      </v-slide-item>
    </template>
    <v-card height="80vh">
      <v-card-title>
        Tipos de productores
      </v-card-title>
      <v-card-text>
        <v-list>
          <v-list-item-group v-model="itemsSelectedLocally" multiple>
            <v-list-item v-for="(item, i) in itemsList" :key="i" :value="item">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.name.es_es }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-btn text @click="sheetModel = false"> Cerrar </v-btn>
        <v-btn
          text
          :disabled="!itemsSelectedLocally.length"
          @click="resetItemsSelectedLocally"
        >
          Restablecer
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="onApply">
          Aplicar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-bottom-sheet>
</template>

<script>
import { get, sync } from 'vuex-pathify'

export default {
  data: () => ({
    itemsSelectedLocally: [],
    sheetModel: false
  }),

  computed: {
    itemsList: get('producerTypes/list'),
    itemsSelected: sync('producersfilter/filters@types')
  },

  watch: {
    sheetModel(val) {
      if (val) {
        this.itemsSelectedLocally = [...this.itemsSelected]
      }
    }
  },

  methods: {
    emitChange() {
      this.$emit('change', this.itemsSelectedLocally)
    },

    onApply() {
      this.itemsSelected = this.itemsSelectedLocally
      this.emitChange()
      this.sheetModel = false
    },

    onCloseIcon() {
      if (this.itemsSelected.length) {
        this.resetItemsSelectedLocally()
        this.emitChange()
      } else {
        this.sheetModel = true
      }
    },

    resetItemsSelectedLocally() {
      this.itemsSelectedLocally = []
    }
  }
}
</script>
