<template>
  <div class="d-flex flex-wrap gap-2">
    <v-tooltip v-for="(c, i) in certifications" :key="i" top>
      <template #activator="{ on, attrs }">
        <div v-bind="attrs" v-on="on">
          <div class="text-center">
            <v-icon>{{ 'icon-' + c.abbreviation.toLowerCase() }}</v-icon>
          </div>
          <div>{{ c.abbreviation }}</div>
        </div>
      </template>
      <span>{{ c.name.es_es }}</span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  props: {
    certifications: {
      type: Array,
      required: true
    }
  }
}
</script>
