<template>
  <v-form ref="form" v-model="formValidity" @submit.prevent="$emit('submit')">
    <v-container>
      <v-row>
        <v-col cols="6">
          <v-text-field
            v-model.number="productCategory.code"
            counter
            label="Número identificador"
            required
            type="number"
            :rules="[formRules.required, formRules.number]"
          ></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-text-field
            v-model.number="productCategory.belongTo"
            counter
            label="Pertenece a"
            required
            type="number"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-select
            v-model="productCategory.type"
            :items="optionsType"
            label="Tipo"
            :rules="[formRules.required]"
          ></v-select>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.name.es_es"
            label="Nombre"
            required
            :rules="[formRules.required]"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.name.en_us"
            label="Nombre en inglés"
            required
            :rules="[formRules.required]"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.alternateName.es_es"
            label="Nombre corto"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.alternateName.en_us"
            label="Nombre corto en inglés"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.keywords.es_es"
            label="Palabras clave"
          ></v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.keywords.en_us"
            label="Palabras clave en inglés"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-textarea
            v-model.trim="productCategory.descriptions.es_es"
            name="description-es_es"
            label="Descripción"
            rows="2"
          ></v-textarea>
        </v-col>
        <v-col cols="12">
          <v-textarea
            v-model.trim="productCategory.descriptions.en_us"
            name="description-en_us"
            label="Descripción en inglés"
            rows="2"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model.trim="productCategory.metaData.iconCode"
            hint="https://materialdesignicons.com/"
            persistent-hint
            label="Código de icono"
            required
            :rules="[formRules.required]"
          >
            <template #prepend>
              <v-icon :color="productCategory.metaData.iconColor">{{
                productCategory.metaData.iconCode || 'mdn-basket'
              }}</v-icon>
            </template>
          </v-text-field>
        </v-col>
        <v-col cols="12">
          <v-color-picker
            v-model="productCategory.metaData.iconColor"
            dot-size="29"
            hide-mode-switch
            flat
            mode="hexa"
            show-swatches
            swatches-max-height="200"
          ></v-color-picker>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-alert v-if="!formValidity" type="warning" class="mb-6">
            Faltan campos por rellenar o alguno está incorrecto.
          </v-alert>

          <!-- Button to handle form submission -->
          <v-btn v-show="false" :disabled="!formValidity" type="submit"></v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { sync } from 'vuex-pathify'

export default {
  data() {
    return {
      optionsType: ['chapter', 'heading'],
      formRules: this.$rules(),
    }
  },

  computed: {
    formValidity: sync('products/formValidity'),
    productCategory: sync('products/product'),
  },
}
</script>
