<template>
  <vue-tel-input-vuetify
    :label="label"
    :placeholder="placeholder"
    :preferred-countries="['ES']"
    :value="phone"
    :valid-characters-only="true"
    @input="onInput"
  >
    <template slot="prepend">
      <v-icon>mdi-phone</v-icon>
    </template>
  </vue-tel-input-vuetify>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: 'Número de teléfono'
    },
    placeholder: {
      type: String,
      default: ''
    },
    phoneInitial: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      phone: this.phoneInitial
    }
  },

  methods: {
    onInput(_formattedNumber, { number }) {
      this.$emit('input', number.international)
    }
  }
}
</script>
