<template>
  <v-container>
    <v-bottom-navigation app color="primary" grow>
      <v-btn exact to="/producers" rel="home">
        <span>Inicio</span>

        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn
        v-if="$auth.loggedIn"
        exact
        active-class=""
        to="/producers/favourites"
      >
        <span>Favoritos</span>

        <v-icon>mdi-bookmark</v-icon>
      </v-btn>

      <v-btn
        v-else
        class="np-btn--always-inactive"
        @click="userSigninDialog = true"
      >
        <span>Favoritos</span>

        <v-icon>mdi-bookmark</v-icon>
      </v-btn>

      <v-btn v-if="!$auth.loggedIn" exact to="/users/signin">
        <span>Entrar</span>

        <v-icon>mdi-location-enter</v-icon>
      </v-btn>

      <v-btn v-if="$auth.loggedIn" exact to="/producers/create">
        <span>Añadir</span>

        <v-icon>mdi-plus</v-icon>
      </v-btn>

      <v-btn v-if="$auth.loggedIn" exact active-class="" to="/users/me">
        <span>Mi zona</span>

        <v-icon>mdi-account</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-container>
</template>

<script>
import { sync } from 'vuex-pathify'

export default {
  computed: {
    userSigninDialog: sync('users/signinDialog')
  }
}
</script>

<style lang="scss" scoped>
.v-btn {
  height: inherit !important;

  &.np-btn--always-inactive {
    color: rgba(0, 0, 0, 0.6) !important;
  }
}
</style>
