<template>
  <v-form ref="form" v-model="formValidity" @submit.prevent="submit(form)">
    <v-row>
      <v-col
        v-if="config.controls.includes('username')"
        cols="12"
        :md="config.controls.length === 3 ? '4' : 6"
      >
        <v-text-field
          v-model="form.username"
          :counter="30"
          label="Nombre"
          required
          :rules="[usernameDuplicatedRule]"
          type="text"
          @keyup="usernameDuplicatedRule = true"
        ></v-text-field>
      </v-col>
      <v-col
        v-if="config.controls.includes('email')"
        cols="12"
        :md="config.controls.length === 3 ? '4' : 6"
      >
        <v-text-field
          v-model="form.email"
          :counter="30"
          label="Email*"
          required
          :rules="[formRules.required, formRules.email, emailDuplicatedRule]"
          type="email"
          @change="emailDuplicatedRule = true"
        ></v-text-field>
      </v-col>
      <v-col
        v-if="config.controls.includes('password')"
        cols="12"
        :md="config.controls.length === 3 ? '4' : 6"
      >
        <v-text-field
          v-model="form.password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :counter="true"
          label="Contraseña*"
          min-length="8"
          required
          :rules="[formRules.required]"
          :type="showPassword ? 'text' : 'password'"
          @click:append="showPassword = !showPassword"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-btn
          block
          color="primary"
          :disabled="!formValidity || loading"
          :loading="loading"
          type="submit"
          x-large
          >{{ buttonText }}</v-btn
        >
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  props: {
    buttonText: {
      type: String,
      default: 'OK',
    },
    config: {
      type: Object,
      default: () => {
        return { controls: ['email', 'password', 'username'] }
      },
    },
    data: {
      type: Object,
      default: null,
    },
    hasName: Boolean,
    loading: Boolean,
    submit: {
      type: Function,
      default: () => {},
    },
  },

  data() {
    return {
      emailDuplicatedRule: true,
      form: {
        email: null,
        password: null,
        username: null,
      },
      formValidity: false,
      formRules: this.$rules(),
      usernameDuplicatedRule: true,
      showPassword: false,
    }
  },

  beforeMount() {
    if (this.data) this.form = { ...this.data }
  },
}
</script>
