<template>
  <div>
    <portal selector="#layout-title">Crear Categoría de Producto</portal>

    <portal selector="#layout-bar-icon"><v-icon>mdi-arrow-left</v-icon></portal>

    <portal selector="#layout-action">
      <v-btn
        block
        color="primary"
        :disabled="!formValidity"
        :loading="productCategoryCreating"
        @click="submitForm"
      >
        Crear
      </v-btn>
    </portal>

    <product-category-form-comp
      @submit="submitForm"
    ></product-category-form-comp>
  </div>
</template>

<script>
import { sync } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'
import ProductCategoryFormComp from '@/components/ProductCategoryForm.vue'

export default {
  components: {
    Portal,
    ProductCategoryFormComp,
  },

  layout: 'barAndBottomAction',

  middleware: 'admin',

  asyncData({ store }) {
    store.set('products/CLEAN_PRODUCT!')
  },

  data() {
    return {
      productCategoryCreating: false,
    }
  },

  computed: {
    formValidity: sync('products/formValidity'),
    productCategory: sync('products/product'),
  },

  methods: {
    submitForm() {
      this.productCategoryCreating = true
      this.$axios.post('/products', this.productCategory).then((_res) => {
        this.productCategoryCreating = false
        this.$router.push('/product-categories')
      })
    },
  },
}
</script>
