<template>
  <div>
    <portal selector="#layout-title">Categorias de productos</portal>

    <portal selector="#layout-header-action">
      <v-btn color="primary" text to="/product-categories/create">
        Crear
      </v-btn>
    </portal>

    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Buscar"
      single-line
      hide-details
      class="mb-6"
    ></v-text-field>

    <v-data-table
      class="product-category-table mb-12"
      :footer-props="{
        'items-per-page-all-text': 'Todas',
        'items-per-page-text': 'Líneas por página',
      }"
      :headers="productsTableHeaders"
      :items="productCategories"
      item-key="_id"
      :items-per-page="-1"
      :loading="$fetchState.pending"
      :search="search"
      @click:row="onCliclRow"
    >
      <template #[`item.name.es_es`]="{ item }">
        <v-icon :color="item.metaData.iconColor" small>{{
          item.metaData.iconCode || ''
        }}</v-icon>
        {{ (item.name && item.name.es_es) || '-' }}
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { get } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'

export default {
  components: {
    Portal,
  },

  layout: 'barBack',

  middleware: 'admin',

  data() {
    return {
      productsTableHeaders: [
        { text: 'Code', value: 'code' },
        {
          text: 'Nombre',
          value: 'name.es_es',
        },
        {
          text: 'Nombre alternativo',
          value: 'alternateName.es_es',
        },
        {
          text: 'Palabras clave',
          value: 'keywords.es_es',
        },
        { text: 'Tipo', value: 'type' },
        {
          text: 'Pertenece a',
          value: 'belongTo',
        },
        { text: '', value: 'data-table-expand' },
      ],
      search: '',
    }
  },

  async fetch() {
    await this.$store.set('products/fetchList!')
  },

  computed: {
    productCategories: get('products/list'),
  },

  methods: {
    onCliclRow(productCategory) {
      this.$router.push(`/product-categories/${productCategory._id}/update`)
    },
  },
}
</script>

<style lang="css" scoped>
.product-category-table >>> tbody tr:hover {
  cursor: pointer;
}
</style>
