.map-marker__pin {
  background: #222;
  border-radius: 50% 50% 50% 0;
  height: 45px;
  transform: rotate(-45deg);
  width: 45px;
}

.map-marker__pin-inner {
  background: #fff;
  border-radius: 50%;
  content: '';
  height: 38px;
  margin: 3px 0 0 4px;
  position: absolute;
  width: 38px;
}

.map-marker__icon {
  font-size: 22px;
  height: 45px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: -45px;
  width: 45px;
}
