<template>
  <v-bottom-sheet
    v-model="sheetModel"
    inset
    scrollable
    @input="onInput($event)"
  >
    <template #activator="{ on, attrs }">
      <v-btn v-bind="attrs" v-on="on">
        <v-icon left> mdi-pencil-outline </v-icon>
        Editar
      </v-btn>
    </template>
    <v-card height="90vh">
      <v-card-title>
        Categorías de productos
        <v-text-field
          v-model="filterModel"
          autofocus
          clearable
          hide-details
          class="font-weight-regular"
          placeholder="Escribe para filtrar"
          style="flex-basis: 100%"
        ></v-text-field>
      </v-card-title>
      <v-card-text>
        <v-list>
          <v-list-item-group v-model="itemsSelected" multiple>
            <ProductCategoryItem
              v-for="(item, i) in filterModel ? flexSearch : itemsList"
              :key="i"
              :item="item"
            />
          </v-list-item-group>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-btn text @click="sheetModel = false"> Cerrar </v-btn>
        <v-btn
          text
          :disabled="!itemsSelected.length"
          @click="resetItemsSelected"
        >
          Restablecer
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="onApply"> Aplicar </v-btn>
      </v-card-actions>
    </v-card>
  </v-bottom-sheet>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import _uniq from 'lodash/uniq'
// eslint-disable-next-line import/named
import { Document as FlexSearchDocument } from 'flexsearch'

export default {
  data: () => ({
    itemsSelected: [],
    flexSearchIndex: {},
    flexSearchSimpleEncode: undefined,
    filterModel: '',
    sheetModel: false,
  }),

  computed: {
    itemsList: get('products/list'),
    producerProductCategories: sync('producers/producer@productCategories'),
    flexSearch() {
      const itemsSearchList = this.flexSearchIndex.search(this.filterModel, {
        limit: 5,
        enrich: true,
      })
      const itemsSearchListMapped =
        itemsSearchList && itemsSearchList.length
          ? itemsSearchList.map((v) => v.result.map((r) => r.doc))
          : []
      return _uniq(Array.prototype.concat.apply([], itemsSearchListMapped))
    },
  },

  mounted() {
    this.flexSearchSimpleEncode =
      require('flexsearch/dist/module/lang/latin/simple').encode
    this.flexSearchCreateIndex()
  },

  methods: {
    flexSearchCreateIndex() {
      this.flexSearchIndex = new FlexSearchDocument({
        document: {
          index: ['keywords:es_es', 'name:es_es'],
          store: true,
        },
        encode: this.flexSearchSimpleEncode,
        language: 'es',
        tokenize: 'full',
      })

      this.itemsList.forEach((product, i) => {
        this.flexSearchIndex.add(i, product)
      })
    },

    onApply() {
      this.producerProductCategories = this.itemsSelected
      this.sheetModel = false
    },

    onInput(event) {
      if (event) {
        this.itemsSelected = []
        this.producerProductCategories.forEach((item) => {
          this.itemsSelected.push(
            this.itemsList.find((v) => v._id === item._id)
          )
        })
      }
    },

    resetItemsSelected() {
      this.itemsSelected = []
    },
  },
}
</script>
