<template>
  <v-list-item-icon>
    <v-icon :color="item.metaData.iconColor">{{
      item.metaData.iconCode
    }}</v-icon>
  </v-list-item-icon>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
