<template>
  <v-list-item :value="item">
    <ProductCategoryItemIcon :item="item" />
    <ProductCategoryItemContent :item="item" />
  </v-list-item>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
