<template>
  <v-list-item-content>
    <v-list-item-title>
      {{
        item.alternateName && item.alternateName.es_es
          ? item.alternateName.es_es
          : item.name.es_es
      }}
    </v-list-item-title>
    <v-list-item-subtitle v-if="item.keywords">
      {{ item.keywords.es_es }}
    </v-list-item-subtitle>
  </v-list-item-content>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
