<template>
  <v-list>
    <v-list-item-group :max="0" multiple>
      <template v-for="(item, i) in producerProductCategories">
        <v-list-item :key="i">
          <ProductCategoryItemIcon :item="item" />
          <ProductCategoryItemContent :item="item" />
          <v-list-item-action>
            <v-btn icon @click="$emit('remove', i)">
              <v-icon>mdi-close-circle-outline</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>

        <v-divider
          v-if="i < producerProductCategories.length - 1"
          :key="item._id"
        ></v-divider>
      </template>
    </v-list-item-group>
  </v-list>
</template>

<script>
import { sync } from 'vuex-pathify'

export default {
  computed: {
    producerProductCategories: sync('producers/producer@productCategories')
  }
}
</script>
