<template>
  <v-list>
    <v-list-item-group v-model="selection" multiple>
      <ProductCategoryItem
        v-for="(item, i) in productsCategoriesList"
        :key="i"
        :item="item"
      />
    </v-list-item-group>
  </v-list>
</template>

<script>
export default {
  props: {
    productsCategoriesList: {
      default: () => [],
      required: true,
      type: Array
    },
    productsCategoriesSelected: {
      default: () => [],
      required: false,
      type: Array
    }
  },

  data: () => ({}),

  computed: {
    selection: {
      get() {
        return this.productsCategoriesSelected
      },
      set(value) {
        this.$emit('change', value)
      }
    }
  }
}
</script>
