<template>
  <v-slide-group v-model="model" multiple @change="onChange" center-active>
    <v-slide-item
      v-for="need in needs"
      v-slot="{ active, toggle }"
      :key="need._id"
      :value="need._id"
    >
      <v-chip
        class="mr-2"
        :close="active"
        label
        :outlined="!active"
        @click="toggle"
        @click:close="toggle"
      >
        <v-icon left :color="need.color" small> mdi-label </v-icon>
        {{ need.name.es_es }}
      </v-chip>
    </v-slide-item>
    <v-chip v-if="model.length" label outlined @click="unselect">
      <v-icon left> mdi-label </v-icon>
      Todas
    </v-chip>
  </v-slide-group>
</template>

<script>
import { get, sync } from 'vuex-pathify'

export default {
  computed: {
    model: sync('producersfilter/filters@needs'),
    needs: get('needs/list')
  },

  methods: {
    onChange() {
      this.$emit('change', this.model)
    },

    unselect() {
      this.model = []
      this.$emit('change', this.model)
    }
  }
}
</script>
