// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 14px;

// Modifying a SASS map variable
// $material-light: ( background: rgb(253, 253, 253) );

$btn-text-transform: normal;

$card-title-word-break: unset;
