<template>
  <div>
    <section class="mb-12">
      <v-subheader>Datos de usuario</v-subheader>
      <user-form-comp
        ref="userFormComp"
        button-text="Actualizar"
        class="mb-6"
        :config="userFormConfig"
        :data="$auth.user || null"
        :loading="userUpdating"
        :submit="editUser"
      />
    </section>

    <section class="mb-6">
      <v-subheader>Páginas</v-subheader>
      <v-list nav>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :disabled="!item.route"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.subtitle }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>mdi-arrow-right</v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list>

      <v-subheader v-if="['supervisor', 'admin'].includes($auth.user.role)"
        >Administración</v-subheader
      >
      <v-list nav>
        <template v-for="(item, i) in adminMenuItems">
          <v-list-item
            v-if="item.active"
            :key="i"
            :disabled="!item.route"
            link
            :to="item.route"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.subtitle }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-icon>
              <v-icon>mdi-arrow-right</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </template>
      </v-list>

      <v-list>
        <v-subheader>Acciones</v-subheader>
        <v-list-item
          link
          @click="
            $auth.logout()
            signoutLoader = true
          "
        >
          <v-list-item-icon>
            <v-icon color="warning">mdi-location-exit</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title> Cerrar sesión </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </section>

    <v-dialog v-model="signoutLoader" persistent width="300">
      <v-card>
        <v-card-text class="pt-5">
          <v-progress-linear indeterminate class="mb-0"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UserFormComp from '~/components/UserForm.vue'

export default {
  components: {
    UserFormComp,
  },

  middleware: 'auth',

  data() {
    return {
      items: [
        {
          subtitle: 'Ver productores añadidos por ti',
          title: 'Mis Productores',
          icon: 'mdi-view-dashboard',
          route: '/producers/mine',
        },
        {
          title: 'Mis Favoritos',
          icon: 'mdi-bookmark',
          route: '/producers/favourites',
        },
        {
          subtitle: 'Información sobre el proyecto',
          title: 'Natural Producers',
          icon: 'mdi-leaf',
          route: '/info/about-us',
        },
        { title: 'Ayuda', icon: 'mdi-help-box' },
      ],

      adminMenuItems: [
        {
          title: 'Categorías',
          subtitle: 'Categorías de productos y servicios',
          icon: 'mdi-format-list-bulleted-type',
          route: '/product-categories',
          active: ['supervisor', 'admin'].includes(this.$auth.user.role),
        },
      ],

      signoutLoader: false,
      userFormConfig: {
        controls: ['email', 'username'],
      },
      userUpdating: false,
    }
  },

  methods: {
    editUser(form) {
      this.userUpdating = true
      const _id = this.$store.state.auth.user._id
      this.$axios
        .$put(`/users/${_id}`, form)
        .then((_user) => {
          this.$auth.fetchUser()
        })
        .catch((err) => {
          if (err.response.status === 422) {
            switch (true) {
              case !!err.response.data.keyPattern.username:
                this.$refs.userFormComp.usernameDuplicatedRule =
                  'Nombre ya en uso'
                break
              case !!err.response.data.keyPattern.email:
                this.$refs.userFormComp.emailDuplicatedRule = 'Email ya en uso'
                break
              default:
                break
            }
            this.$refs.userFormComp.$refs.form.validate()
          }
        })
        .finally(() => {
          this.userUpdating = false
        })
    },
  },
}
</script>
