<template>
  <div>
    <portal selector="#layout-title">Recuperar contraseña</portal>

    <v-row>
      <v-col>
        <p class="text-body-2">
          Te enviaremos un correo para que puedas cambiarla.
        </p>
      </v-col>
    </v-row>

    <user-form-comp
      button-text="Enviar correo"
      :config="userFormConfig"
      :loading="passwordRecoveryMailSending"
      :submit="sendMailToChangePassword"
    />

    <v-row>
      <v-col cols="12">
        <v-btn color="primary" block x-large text to="/users/signin"
          >Inicia sesión</v-btn
        >
      </v-col>
    </v-row>

    <v-row v-if="passwordRecoveryMailSended">
      <v-col>
        <v-alert type="success">
          Se te ha enviado un correo. Sigue sus instrucciones para restablecer
          tu contraseña. <br />
          Si no lo ves espera un poco o mira en tu bandeja de correo no deseado
          (<i>spam</i>).
        </v-alert>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { Portal } from '@linusborg/vue-simple-portal'
import UserFormComp from '~/components/UserForm'

export default {
  components: { Portal, UserFormComp },

  layout: 'barBack',

  data() {
    return {
      passwordRecoveryMailSended: false,
      passwordRecoveryMailSending: false,
      userFormConfig: {
        controls: ['email'],
      },
    }
  },

  mounted() {
    this.passwordRecoveryMailSended = false
  },

  methods: {
    sendMailToChangePassword(ev) {
      this.passwordRecoveryMailSending = true
      this.$axios
        .$post('/users/sendMailToChangePassword', { email: ev.email })
        .then(() => {
          this.passwordRecoveryMailSended = true
        })
        .finally(() => {
          this.passwordRecoveryMailSending = false
        })
    },
  },
}
</script>
