<template>
  <div>
    <portal selector="#layout-title">Registrarse</portal>

    <user-form-comp
      ref="userFormComp"
      button-text="Registrarse"
      :config="userFormConfig"
      :loading="isRegisteringUser"
      :submit="signup"
    />

    <v-row>
      <v-col cols="12">
        <v-btn color="primary" block x-large text to="/users/signin"
          >Inicia sesión</v-btn
        >
      </v-col>
    </v-row>

    <v-row v-if="userCreated">
      <v-col>
        <v-alert type="warning"> Email en uso. </v-alert>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { Portal } from '@linusborg/vue-simple-portal'
import UserFormComp from '~/components/UserForm.vue'

export default {
  components: { Portal, UserFormComp },

  layout: 'barBack',

  data() {
    return {
      userCreated: false,
      userFormConfig: {
        controls: ['email', 'password', 'username'],
      },
      isRegisteringUser: false,
    }
  },

  methods: {
    async signup(form) {
      this.isRegisteringUser = true
      await this.$store
        .set('users/signup!', form)
        .then(() => this.$store.set('users/signin!', form))
        .then(() => this.$router.push('/producers'))
        .catch((err) => {
          if (err.response.status === 422) {
            switch (true) {
              case !!err.response.data.keyPattern.username:
                this.$refs.userFormComp.usernameDuplicatedRule =
                  'Nombre ya en uso'
                break
              case !!err.response.data.keyPattern.email:
                this.$refs.userFormComp.emailDuplicatedRule = 'Email ya en uso'
                break
              default:
                break
            }
            this.$refs.userFormComp.$refs.form.validate()
          }
        })
        .finally(() => {
          this.isRegisteringUser = false
        })
    },
  },
}
</script>
