<template>
  <div>
    <portal selector="#layout-title">Loguearse</portal>

    <user-form-comp
      button-text="Entrar"
      :config="userFormConfig"
      :loading="isLoggingInUser"
      :submit="signin"
    />

    <v-row>
      <v-col cols="12">
        <v-btn color="primary" block x-large text to="/users/recovery-password">
          Recuperar contraseña
        </v-btn>
        <v-btn color="primary" block x-large text to="/users/signup">
          Registrarse
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-if="loginFail">
      <v-col>
        <v-alert type="warning"> Mal </v-alert>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { Portal } from '@linusborg/vue-simple-portal'
import { get } from 'vuex-pathify'
import UserFormComp from '~/components/UserForm.vue'

export default {
  components: { Portal, UserFormComp },

  layout: 'barBack',

  data() {
    return {
      loginFail: false,
      userFormConfig: {
        controls: ['email', 'password'],
      },
    }
  },

  computed: {
    isLoggingInUser: get('users/isLoggingInUser'),
  },

  methods: {
    /**
     * Dispatch 'users' store 'signin' action.
     * Set `loginFail` to true if signin fails.
     * @param {{email: string, password: string, username: string }} userData
     * @returns {void}
     */
    async signin(userData) {
      await this.$store.dispatch('users/signin', userData).catch((err) => {
        console.error(err)
        this.loginFail = true
      })
    },
  },
}
</script>
