<template>
  <v-card min-height="80vh">
    <v-card-title>
      {{ cardTitle }}

      <!-- SEARCHER -->
      <v-text-field
        v-model="searchInput"
        :append-icon="searchInput || searchResultList ? 'mdi-close' : null"
        append-outer-icon="mdi-send"
        autofocus
        class="mb-3 mt-4 font-weight-regular"
        dense
        hide-details
        label="Dirección"
        :loading="searchInputLoading"
        style="flex-basis: 100%"
        @click:append="searchInputClear"
        @click:append-outer="search"
        @keyup.enter="search"
      ></v-text-field>

      <v-text-field
        v-if="showStreetAddressExtraInfo"
        v-model="streetAddressExtraInfo"
        :append-icon="streetAddressExtraInfo ? 'mdi-close' : null"
        class="font-weight-regular"
        label="Aclaraciones a la dirección"
      ></v-text-field>
    </v-card-title>

    <v-card-text>
      <!-- RESULT LIST -->
      <v-item-group v-if="searchResultList" v-model="locationSelectedIndex">
        <v-item
          v-for="(item, i) in searchResultList"
          :key="i"
          v-slot="{ active, toggle }"
        >
          <v-card
            class="mb-3"
            :color="active ? 'primary' : ''"
            :dark="active"
            @click="
              toggle
              selectLocationFromList(item, 16)
            "
            @keyup.enter="toggle"
          >
            <v-list-item :value="item">
              <v-list-item-icon class="mr-4">
                <v-icon>mdi-map-marker-radius-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{
                  item.properties.display_name
                }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card>
        </v-item>
      </v-item-group>

      <v-alert
        v-if="searchResultList && searchResultList.length === 0"
        type="info"
      >
        Sin resultados. Usa solo número, calle, localidad, provincia, estado y
        país. Si necesitas aclarar más datos usa las 'Aclaraciones a la
        dirección'.
      </v-alert>

      <!-- MAP -->
      <div>
        <client-only>
          <l-map
            v-show="!searchResultList"
            ref="map"
            :center="[36.71656, -4.42545]"
            :options="{ zoomControl: false }"
            :zoom="5"
            style="height: 300px"
            @ready="onMapReady()"
          >
            <l-tile-layer
              url="https://{s}.tile.osm.org/{z}/{x}/{y}.png"
              attribution="https://www.openstreetmap.org/copyright"
            ></l-tile-layer>
            <l-locate-control
              ref="locateControl"
              :options="locateControlOptions"
            />
            <l-control-zoom
              position="topleft"
              zoom-in-title="Acercar"
              zoom-out-title="Alejar"
            ></l-control-zoom>
          </l-map>
        </client-only>
      </div>
    </v-card-text>

    <v-card-actions class="pb-6">
      <v-btn text @click="$emit('close')"> Cerrar </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        v-if="showCleanBtn"
        text
        :disabled="!locationSelected"
        @click="locationRemoveClicked"
      >
        Restablecer
      </v-btn>

      <v-btn color="primary" text :disabled="!locationSelected" @click="apply">
        Aplicar
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
let Vue2Leaflet = {}
let Vue2LeafletLocatecontrol = {}
if (process.client) {
  Vue2Leaflet = require('vue2-leaflet')
  Vue2LeafletLocatecontrol = require('vue2-leaflet-locatecontrol')
}

export default {
  components: {
    LControlZoom: Vue2Leaflet.LControlZoom,
    LMap: Vue2Leaflet.LMap,
    LTileLayer: Vue2Leaflet.LTileLayer,
    LLocateControl: Vue2LeafletLocatecontrol
  },

  props: {
    cardTitle: {
      type: String,
      default: 'Selecciona localización'
    },

    locationAlreadySelected: {
      type: Object,
      default: null
    },

    showCleanBtn: {
      type: Boolean,
      default: false
    },

    showStreetAddressExtraInfo: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    mapMarker: null,
    locateControl: undefined,
    locateControlOptions: {
      cacheLocation: false,
      drawMarker: false,
      setView: 'once',
      strings: {
        title: 'Localízame'
      }
    },
    locationSelected: null,
    locationSelectedIndex: null,
    searchInput: null,
    searchInputLoading: false,
    searchResultList: null,
    streetAddressExtraInfo: undefined
  }),

  computed: {
    map() {
      return this.$refs.map.mapObject
    }
  },

  mounted() {
    if (this.locationAlreadySelected) {
      this.locationSelected = this.locationAlreadySelected
      this.streetAddressExtraInfo =
        this.locationSelected.streetAddressExtraInfo || ''
      this.searchInput = this.locationAlreadySelected.properties.display_name
    }
  },

  methods: {
    apply() {
      this.$emit('change', {
        ...this.locationSelected,
        streetAddressExtraInfo: this.streetAddressExtraInfo
      })
    },

    onMapReady() {
      this.map.attributionControl.setPrefix(
        '<a href="https://leafletjs.com" rel="external" target="_blank" title="A JavaScript library for interactive maps">Leaflet</a>'
      )
      this.map.on('click', this.locationSelectorMapClicked)
      this.map.on('locationfound', this.locationSelectorMapLocationFound)

      if (this.locationSelected) {
        const lat = this.locationSelected.geometry.coordinates[1]
        const lon = this.locationSelected.geometry.coordinates[0]

        this.map.setView([lat, lon], 15)

        this.mapMarker = this.$L
          .marker([lat, lon], { draggable: true })
          .addTo(this.map)
          .on('moveend', this.locationSelectorMapMarkerMoved)
      }
    },

    locationRemoveClicked() {
      this.$emit('change', null)
    },

    async locationSelectorMapClicked(clickLoc) {
      const location = await this.searchLocationReverse(
        clickLoc.latlng.lat,
        clickLoc.latlng.lng
      )
      if (location) {
        this.selectLocation(location)
      }
      this.$refs.locateControl.mapObject.stop()
    },

    async locationSelectorMapMarkerMoved(moveendLoc) {
      const location = await this.searchLocationReverse(
        moveendLoc.target._latlng.lat,
        moveendLoc.target._latlng.lng
      )
      if (location) {
        this.selectLocation(location)
      }
      this.$refs.locateControl.mapObject.stop()
    },

    async locationSelectorMapLocationFound(locationLoc) {
      const location = await this.searchLocationReverse(
        locationLoc.latlng.lat,
        locationLoc.latlng.lng
      )
      if (location) {
        this.selectLocation(location)
      }
      this.map.stopLocate()
    },

    async searchLocationReverse(lat, lon) {
      this.searchInputLoading = true
      const res = await this.searchLocationReverseRequest(lat, lon)
      this.searchInputLoading = false
      return (res.features && res.features[0]) || null
    },

    searchLocationReverseRequest(lat, lon) {
      const nominatimReverseUrl = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lon}&format=geojson&addressdetails=true&email=hola@franciscogodoy.es`
      return this.$axios.$get(nominatimReverseUrl)
    },

    selectLocation(location, zoom) {
      this.locationSelected = location

      this.searchInput = location.properties.display_name

      if (this.mapMarker) {
        this.map.removeLayer(this.mapMarker)
      }

      zoom && this.map.setZoom(zoom)

      this.map.panTo([
        location.geometry.coordinates[1],
        location.geometry.coordinates[0]
      ])

      this.mapMarker = this.$L
        .marker(
          [location.geometry.coordinates[1], location.geometry.coordinates[0]],
          {
            draggable: true,
            icon: this.$L.divIcon({
              className: 'map-marker',
              html: `
              <div class="map-marker__pin">
                <span class="map-marker__pin-inner"></span>
              </div>
            `,
              iconAnchor: [22, 56],
              iconSize: [45, 45]
            })
          }
        )
        .addTo(this.map)
        .on('moveend', this.locationSelectorMapMarkerMoved)
    },

    selectLocationFromList(location, zoom) {
      this.searchResultList = null
      this.selectLocation(location, zoom)
      this.$refs.locateControl.mapObject.stop()
    },

    searchInputClear() {
      this.searchInput = null
      this.searchResultList = null
    },

    async search() {
      if (!this.searchInput) return
      this.searchInputLoading = true
      const searchAddressStringParsed = this.searchInput.replace(' ', '+')
      const nominatimUrl = `https://nominatim.openstreetmap.org/search?q=${searchAddressStringParsed}&format=geojson&addressdetails=true&email=hola@franciscogodoy.es&limit=5`
      const res = await this.$axios.$get(nominatimUrl)
      this.searchInputLoading = false
      this.locationSelectedIndex = null
      this.searchResultList = res.features ? res.features : null
    }
  }
}
</script>

<style scoped>
@import '../../node_modules/leaflet/dist/leaflet.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
</style>
