<template>
  <div>
    <template v-if="link">
      <a
        :href="
          'https://www.openstreetmap.org/search?query=' +
            location.properties.display_name
        "
        rel="external"
        target="blank"
      >
        <div :class="{ 'text-caption': small }">
          {{ this[addressType] }}
          <template
            v-if="location.streetAddressExtraInfo && showStreetAddressExtraInfo"
          >
            <br />
            {{ location.streetAddressExtraInfo }}
          </template>
        </div>
      </a>
    </template>
    <span v-else :class="{ 'text-caption': small }">
      {{ this[addressType] }}
      <template
        v-if="location.streetAddressExtraInfo && showStreetAddressExtraInfo"
      >
        <br />
        {{ location.streetAddressExtraInfo }}
      </template>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    addressType: {
      type: String,
      default: 'untilState'
    },
    link: {
      type: Boolean,
      default: false
    },
    location: {
      type: Object,
      required: true,
      default: null
    },
    showStreetAddressExtraInfo: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    houseNumber() {
      return this.location.properties.address.house_number
        ? this.location.properties.address.house_number + ','
        : ''
    },

    road() {
      return this.location.properties.address.road
        ? this.location.properties.address.road + ','
        : ''
    },

    city() {
      return (
        this.location.properties.address.city ||
        this.location.properties.address.place ||
        this.location.properties.address.boundary ||
        this.location.properties.address.town ||
        this.location.properties.address.hamlet ||
        this.location.properties.address.village ||
        ''
      )
    },

    cityAndState() {
      return this.city + this.countyOrState
    },

    countyOrState() {
      const text =
        this.location.properties.address.state ||
        this.location.properties.address.county ||
        this.location.properties.address.state_district ||
        ''
      return ', ' + text
    },

    industrial() {
      return this.location.properties.address.industrial
        ? ', ' + this.location.properties.address.industrial
        : ''
    },

    untilCity() {
      return `${this.road} ${this.houseNumber} ${this.city}`
    },

    untilState() {
      return `${this.untilCity}${this.industrial}${this.stateDistrict}${this.countyOrState}`
    },

    untilStateMedium() {
      return `${this.untilCity}${this.countyOrState}`
    },

    stateDistrict() {
      return this.location.properties.address.state_district
        ? ', ' + this.location.properties.address.state_district
        : ''
    }
  }
}
</script>
