<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <h1>Elegir nueva contraseña</h1>
        </v-col>
      </v-row>
    </v-container>

    <user-form-comp
      button-text="Guardar nueva contraseña"
      :config="userFormConfig"
      :loading="passwordChanging"
      :submit="changePassword"
    />

    <v-row>
      <v-col cols="12">
        <v-btn color="primary" block x-large text to="/users/signin"
          >Inicia sesión</v-btn
        >
      </v-col>
    </v-row>

    <v-row v-if="passwordChanged">
      <v-col cols="12">
        <v-alert type="success">
          Tu contraseña ha sido cambiada.
        </v-alert>
      </v-col>
    </v-row>

    <v-row v-if="tokenExpired">
      <v-col cols="12">
        <v-alert type="info">
          Enlace caducado. Por favor solicita de nuevo el cambio de contraseña.
        </v-alert>
        <v-btn color="primary" block x-large text to="/users/recovery-password">
          Recuperar contraseña
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import UserFormComp from '~/components/UserForm'

export default {
  components: { UserFormComp },

  data() {
    return {
      passwordChanging: false,
      passwordChanged: false,
      token: this.$route.params.token,
      tokenExpired: false,
      userFormConfig: {
        controls: ['password']
      }
    }
  },

  mounted() {
    this.passwordChanged = false
  },

  methods: {
    changePassword(form) {
      this.passwordChanging = true
      this.$axios
        .$put(`/users/changePassword/${this.token}`, {
          password: form.password
        })
        .then(() => {
          this.passwordChanged = true
        })
        .catch(({ response }) => {
          if (response.status === 404) {
            this.tokenExpired = true
          }
          console.log(response)
        })
        .finally(() => {
          this.passwordChanging = false
        })
    }
  }
}
</script>
