<template>
  <v-app>
    <v-main>
      <v-container fluid class="pa-0">
        <v-btn class="layout-back-button" absolute depressed fab right small top to="/">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<style lang="scss" scoped>
.v-btn.layout-back-button {
  top: 16px !important;
  z-index: 999;
}
</style>
