<template>
  <v-app>
    <v-app-bar app flat>
      <v-container class="pa-0 fill-height">
        <v-app-bar-nav-icon @click="$router.back()">
          <span id="layout-bar-icon"></span>
        </v-app-bar-nav-icon>

        <v-toolbar-title
          id="layout-title"
          class="text-subtitle-2 font-weight-light"
        >
        </v-toolbar-title>
      </v-container>
    </v-app-bar>

    <v-main>
      <v-container>
        <nuxt />
        <snackbar />
      </v-container>
    </v-main>

    <v-footer app inset min-height="60" padless>
      <v-container>
        <v-row>
          <v-col id="layout-action" cols="12"> </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </v-app>
</template>

<script>
import snackbar from '../components/shared/snackbar.vue'

export default {
  components: {
    snackbar
  }
}
</script>