<template>
  <v-app>
    <v-app-bar app flat>
      <v-container class="pa-0 fill-height">
        <v-app-bar-nav-icon to="/producers" exact>
          <v-icon>mdi-arrow-left</v-icon>
        </v-app-bar-nav-icon>

        <v-toolbar-title
          id="layout-title"
          class="text-subtitle-2 font-weight-light"
        >
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <div id="layout-header-action"></div>
      </v-container>
    </v-app-bar>

    <v-main>
      <v-container>
        <nuxt />
        <snackbar />
      </v-container>
    </v-main>

    <!-- USER SIGNIN DIALOG -->
    <user-signin-dialog v-model="userSigninDialog"></user-signin-dialog>

    <!-- USER SIGNUP DIALOG -->
    <user-signup-dialog v-model="userSignupDialog"></user-signup-dialog>
  </v-app>
</template>

<script>
import { sync } from 'vuex-pathify'
import snackbar from '../components/shared/snackbar.vue'
import UserSigninDialog from '@/components/user/SigninDialog.vue'
import UserSignupDialog from '@/components/user/SignupDialog.vue'

export default {
  components: {
    snackbar,
    UserSignupDialog,
    UserSigninDialog,
  },

  computed: {
    userSigninDialog: sync('users/signinDialog'),
    userSignupDialog: sync('users/signupDialog'),
  },
}
</script>