<template>
  <v-app>
    <v-main>
      <alert-beta-warning></alert-beta-warning>
      <v-container>
        <nuxt />
        <snackbar />
      </v-container>
    </v-main>

    <TheBottomNavigation />

    <!-- USER SIGNIN DIALOG -->
    <user-signin-dialog v-model="userSigninDialog"></user-signin-dialog>

    <!-- USER SIGNUP DIALOG -->
    <user-signup-dialog v-model="userSignupDialog"></user-signup-dialog>
  </v-app>
</template>

<script>
import { sync } from 'vuex-pathify'
import AlertBetaWarning from '~/components/alert/beta-warning.vue'
import Snackbar from '~/components/shared/snackbar.vue'
import TheBottomNavigation from '~/components/TheBottomNavigation.vue'
import UserSigninDialog from '@/components/user/SigninDialog.vue'
import UserSignupDialog from '@/components/user/SignupDialog.vue'

export default {
  // eslint-disable-next-line vue/multi-word-component-names, vue/component-definition-name-casing
  name: 'default',

  components: {
    AlertBetaWarning,
    Snackbar,
    TheBottomNavigation,
    UserSigninDialog,
    UserSignupDialog
  },

  computed: {
    userSigninDialog: sync('users/signinDialog'),
    userSignupDialog: sync('users/signupDialog')
  }
}
</script>
