<template>
  <div>
    <portal selector="#layout-title">
      <h1 class="text-body-1">{{ producer.name }}</h1>
    </portal>

    <section class="mb-12">
      <v-row>
        <v-col cols="12" sm="6">
          <h2 class="text-subtitle-1 mb-1">Información básica</h2>
          <producer-card
            :producer="producer"
            :config="producerCardConfig"
            @delete="onProducerCardDelete"
          ></producer-card>
        </v-col>

        <v-col v-if="producer.locations[0]" cols="12" sm="6">
          <h2 class="text-subtitle-1 mb-1">Localización</h2>
          <producer-map></producer-map>
        </v-col>
      </v-row>
    </section>
    <section>
      <h2 class="text-subtitle-1 mb-1">Relaciones con otras organizaciones</h2>
      <v-alert
        v-if="!producer.relations || !Object.keys(producer.relations).length"
        dense
        text
        type="info"
        >No están notificadas relaciones con otras organizaciones</v-alert
      >
      <section v-else>
        <ProducerRelations
          :producer-card-config="{
            hideActivisms: true,
            hideCertificates: true,
            hideContact: true,
            hideProducts: true
          }"
        />
      </section>
    </section>
  </div>
</template>

<script>
import { get } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'
import ProducerJsondl from '@/jsondl/producer'
import ProducerCard from '@/components/producer/Card.vue'
import ProducerMap from '@/components/producer/map.vue'
import ProducerRelations from '@/components/producer/Relations.vue'

export default {
  components: {
    Portal,
    ProducerCard,
    ProducerMap,
    ProducerRelations
  },

  layout: 'barBack',

  async asyncData({ route, store }) {
    await store.set('producers/getProducer!', route.params.id)
    await store.set('producerRelationTypes/list')
    if (process.client && window.goatcounter) {
      window.goatcounter.count({
          path: route.pash,
          title: store.get('producers/producer@name')
      })
    }
  },

  head() {
    return {
      title: this.producer.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.producer.descriptionShort || this.producer.description
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.producer.name + ' - Natural Producers'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.producer.descriptionShort || this.producer.description
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: 'https://naturalproducers.org/producers/' + this.producer._id
        }
      ],
      link: [
        {
          hid: 'canonical',
          rel: 'canonical',
          href: 'https://naturalproducers.org/producers/' + this.producer._id
        }
      ]
    }
  },

  jsonld() {
    return ProducerJsondl(this.producer, this.producerLocation)
  },

  computed: {
    producer: get('producers/producer'),
    producerLocation: get('producers/producer@locations[0]'),

    producerCardConfig() {
      return {
        canEdit:
          this.$auth.loggedIn &&
          ['supervisor', 'admin'].includes(this.$auth.user.role),
        canDelete:
          this.$auth.loggedIn && ['admin'].includes(this.$auth.user.role)
      }
    }
  },

  methods: {
    async onProducerCardDelete(producer) {
      await this.$store.set('producers/delete!', producer._id)
      this.$router.push('/producers')
    }
  }
}
</script>
