<template>
  <div>
    <portal selector="#layout-title">{{ producer.name }}</portal>

    <portal selector="#layout-bar-icon"><v-icon>mdi-arrow-left</v-icon></portal>

    <portal selector="#layout-action">
      <v-btn
        block
        color="primary"
        :disabled="!formValidity"
        :loading="producerUpdating"
        @click="update"
      >
        Actualizar
      </v-btn>
    </portal>

    <ProducerForm
      @addProducerRelation="onAddProducerRelation"
      @removeProducerRelation="onProducerRelationRemove($event)"
      @submit="update"
    />
  </div>
</template>
<script>
import { call, commit, sync } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'

export default {
  components: {
    Portal
  },

  layout: 'barAndBottomAction',

  middleware: 'auth',

  async asyncData({ store, params }) {
    await Promise.all([
      store.set('activisms/list'),
      store.set('certifications/list'),
      store.set('organizationalTypes/list'),
      store.set('producerRelationTypes/list'),
      store.set('producerTypes/list'),
      store.set('products/fetchList!'),
      store.set('products/chapters'),
      store.set('needs/getList!'),
      store.set('producers/getProducer!', params.id)
    ])
  },

  data() {
    return {
      producerUpdating: false
    }
  },

  computed: {
    formValidity: sync('producers/formValidity'),
    producer: sync('producers/producer')
  },

  methods: {
    addProducerRelation: call('producers/addProducerRelation'),
    updateProducerAddRelation: call('producers/updateProducerAddRelation'),
    updateProducerRemoveRelation: call(
      'producers/updateProducerRemoveRelation'
    ),

    onAddProducerRelation() {
      this.addProducerRelation()
      this.updateProducerAddRelation()
      commit('producers/CLEAN_PRODUCER_RELATION_TO_ADD')
    },

    async onProducerRelationRemove({ producer, producerRelationTypeCode }) {
      const res = await this.$confirm(
        '¿Eliminar la relación entre organizaciones?',
        {
          buttonFalseText: 'No',
          buttonTrueColor: 'error',
          buttonTrueText: 'Eliminar'
        }
      )
      if (res) {
        this.updateProducerRemoveRelation({
          producer,
          producerRelationTypeCode
        })
      }
    },

    async update() {
      this.producerUpdating = true
      await this.$store.dispatch('producers/updateProducer', {
        _id: this.$route.params.id
      })
      this.producerUpdating = false
      this.$router.go(-1)
    }
  }
}
</script>
