<template>
  <div>
    <portal selector="#layout-title">Detalles del productor</portal>

    <portal selector="#layout-bar-icon"><v-icon>mdi-close</v-icon></portal>

    <portal selector="#layout-action">
      <v-btn
        block
        color="primary"
        :disabled="!formValidity"
        :loading="producerCreating"
        @click="create"
      >
        Crear
      </v-btn>
    </portal>

    <ProducerForm
      @addProducerRelation="onAddProducerRelation"
      @removeProducerRelation="onRemoveProducerRelation"
      @submit="create"
    />

    <v-dialog v-model="producerCreatedDialog" width="500">
      <v-card>
        <v-card-title> Productor creado, pero... </v-card-title>

        <v-card-text>
          <p>
            El productor creado no será visible hasta que sea revisado y
            aprobado por un administrador. Te avisaremos por correo de cualquier
            cambio.
          </p>
          <p>
            Podrás verlo en la página
            <NuxtLink to="/producers/mine">Mis productores</NuxtLink>.
          </p>
          <p>Muchas gracias por participar.</p>
        </v-card-text>

        <v-card-actions>
          <v-btn color="primary" text @click="producerCreatedDialogOnOk()">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { call, commit, sync } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'

export default {
  components: {
    Portal
  },

  layout: 'barAndBottomAction',

  async asyncData({ store }) {
    await Promise.all([
      store.set('activisms/list'),
      store.set('certifications/list'),
      store.set('organizationalTypes/list'),
      store.set('producerRelationTypes/list'),
      store.set('producerTypes/list'),
      store.set('products/fetchList!'),
      store.set('products/chapters'),
      store.set('needs/getList!'),
      store.set('producers/CLEAN_PRODUCER!')
    ])
  },

  data() {
    return {
      producerCreating: false,
      producerCreatedDialog: false
    }
  },

  computed: {
    formValidity: sync('producers/formValidity')
  },

  methods: {
    addProducerRelation: call('producers/addProducerRelation'),

    onAddProducerRelation() {
      this.addProducerRelation()
      commit('producers/CLEAN_PRODUCER_RELATION_TO_ADD')
    },

    async create() {
      this.producerCreating = true
      await this.$store.set('producers/createOne!')
      this.producerCreating = false
      this.producerCreatedDialog = true
    },

    onRemoveProducerRelation(producerRelation) {
      commit('producers/REMOVE_PRODUCER_RELATION', producerRelation)
    },

    producerCreatedDialogOnOk() {
      this.$router.go(-1)
    }
  }
}
</script>
