<template>
  <div>
    <v-row>
      <v-col cols="12">
        <div class="text-center text-caption my-4">
          <h1 class="green--text">
            <v-icon color="green">mdi-leaf</v-icon>
            Natural Producers
          </h1>
          <h2 class="text-subtitle-1 px-6">
            Descubre a productores y distribuidores que respetan la naturaleza y
            las personas.
          </h2>
        </div>
      </v-col>

      <!-- <v-col v-if="!$auth.loggedIn" cols="12" class="mb-8">
        <v-card color="#E5E5E5">
          <v-card-title class="text-h6"> ¡Colabora! </v-card-title>

          <v-card-subtitle>
            Añade los productores o distribuidores que conoces.
          </v-card-subtitle>

          <v-card-actions>
            <v-btn small depressed color="primary" to="/users/signup">
              <v-icon small left>mdi-emoticon-happy-outline</v-icon>
              Accede
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col> -->
    </v-row>

    <v-row ref="producerFilter" justify="space-around" dense>
      <v-col cols="12">
        <v-badge dot offset-x="3" overlap :value="locationOrFiltersIsActive">
          <h3 class="caption font-weight-light ml-3 mb-1">Filtros</h3>
        </v-badge>
        <producers-filter-needs
          @change="onQueryChange($event, 'needs', 'filters')"
        ></producers-filter-needs>
      </v-col>

      <v-col cols="12">
        <v-slide-group center-active>
          <ProducersLocationFilter
            @change="onQueryChange($event, 'location', 'sort')"
          ></ProducersLocationFilter>

          <ProducersTypeFilterBottomSheet
            @change="onQueryChange($event, 'types', 'filters')"
          ></ProducersTypeFilterBottomSheet>

          <ActivismsFilterBottomSheet
            @change="onQueryChange($event, 'activisms', 'filters')"
          ></ActivismsFilterBottomSheet>
        </v-slide-group>
      </v-col>

      <v-col cols="12">
        <v-slide-group center-active>
          <ProductCategoryFilterBottomSheet
            @change="onQueryChange($event, 'productCategories', 'filters')"
          ></ProductCategoryFilterBottomSheet>

          <template
            v-if="filters.productCategories && filters.productCategories.length"
          >
            <v-slide-item
              v-for="(item, i) in filters.productCategories"
              :key="i"
            >
              <v-chip
                class="mr-2"
                close
                :color="item.metaData.iconColor"
                label
                small
                text-color="white"
                @click:close="removeProductFilter(i)"
              >
                <v-icon left small>{{ item.metaData.iconCode }}</v-icon>
                {{
                  item.alternateName && item.alternateName.es_es
                    ? item.alternateName.es_es
                    : item.name.es_es
                }}
              </v-chip>
            </v-slide-item>
          </template>
        </v-slide-group>
      </v-col>
    </v-row>

    <div class="mt-7 mb-2">
      <v-btn text small to="producers/map">
        Ver en un mapa
        <v-icon right>mdi-map-outline</v-icon>
      </v-btn>
    </div>

    <v-row>
      <v-col cols="12">
        <masonry
          :cols="{ default: 4, 1904: 3, 1264: 2, 960: 2, 600: 1 }"
          :gutter="{ default: '30px', 700: '15px' }"
        >
          <template v-for="(producer, i) of producersPag.docs || 2">
            <v-skeleton-loader
              v-if="listPaginatedLoading"
              :key="i"
              class="mb-9"
              type="table-heading, list-item-two-line, image, table-tfoot"
            ></v-skeleton-loader>

            <producer-card
              v-else
              :key="i"
              class="mb-9"
              :producer="producer"
              :config="producerCardConfig"
            ></producer-card>
          </template>
        </masonry>
      </v-col>
    </v-row>
    <div class="text-center mb-6">
      <v-pagination
        v-if="producersPag.totalPages > 1"
        v-model="producersPag.page"
        :length="producersPag.totalPages"
        @input="onPageChange($event)"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import { get, sync } from 'vuex-pathify'
import ProducerJsondl from '@/jsondl/producer'

export default {
  async asyncData({ store }) {
    await Promise.all([
      store.set('activisms/list'),
      store.set('needs/getList!'),
      store.set('producerTypes/list'),
      store.set('products/fetchList!'),
      store.set('producers/getPaginated!'),
    ])
  },

  data() {
    return {
      selectLocationDialog: false,
    }
  },

  head() {
    return {
      titleTemplate: null,
      title: 'Natural Producers',
      link: [
        {
          hid: 'canonical',
          rel: 'canonical',
          href: 'https://naturalproducers.org/producers',
        },
      ],
    }
  },

  jsonld() {
    return (
      this.producersPag &&
      this.producersPag.docs.map((producer) =>
        ProducerJsondl(producer, producer.locations[0])
      )
    )
  },

  computed: {
    filters: get('producersfilter/filters'),
    filtersNeeds: get('producersfilter/filters@needs'),
    locationOrFiltersIsActive: get('producersfilter/locationOrFiltersIsActive'),
    listPaginatedLoading: sync('producers/listPaginatedLoading'),
    producerCardConfig() {
      return {
        canEdit:
          this.$auth.loggedIn &&
          ['supervisor', 'admin'].includes(this.$auth.user.role),
      }
    },
    producersPag: get('producers/listPaginated'),
  },

  methods: {
    // TODO: MAIN: ordena sort, pagination, filter, changesOnThem...
    fetchProducersQuery() {
      this.$store.set('producersfilter/createQuery!')
      this.$store.set('producers/getPaginated!')
    },

    onPageChange(page) {
      this.$nextTick(
        async () =>
          await this.$vuetify.goTo(this.$refs.producerFilter).then(() => {
            this.$store.set('producers/list@page', page)
            this.fetchProducersQuery()
          })
      )
    },

    onQueryChange(sortValue, sortName, queryPart) {
      this.$store.set('producers/listPaginated@page', 1)
      this.$store.set(`producersfilter/${queryPart}@${sortName}`, sortValue)
      this.fetchProducersQuery()
    },

    removeProductFilter(i) {
      this.$store.set('producersfilter/REMOVE_PRODUCT_FILTER!', i)
      this.fetchProducersQuery()
    },
  },
}
</script>
