<template>
  <div>
    <producers-map></producers-map>
  </div>
</template>

<script>
import ProducersMap from '@/components/producers/map.vue'

export default {
  components: {
    ProducersMap
  },

  layout: 'backButton',

  async asyncData({ store }) {
    await store.set('producers/getAll!')
  }
}
</script>
