<template>
  <v-row>

    <portal selector="#layout-title">Productores creados por mí</portal>

    <portal selector="#layout-header-action">
      <v-btn
        color="primary"
        text
        to="/producers/create"
      >
        Crear
      </v-btn>
    </portal>

    <v-col cols="12">
      <masonry
        :cols="{ default: 4, 1904: 3, 1264: 2, 960: 2, 600: 1 }"
        :gutter="{ default: '30px', 700: '15px' }"
      >
        <template v-for="(producer, i) of producers">
          <producer-card
            :key="i"
            class="mb-9"
            :producer="producer"
            :config="producerCardConfig"
            @delete="onProducerCardDelete"
          ></producer-card>
        </template>
      </masonry>
      <v-alert v-if="!producers.length" type="info" block>
        No has creado productores aún
      </v-alert>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import { sync } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'
import ProducerCard from '@/components/producer/Card.vue'

export default {
  components: {
    Portal,
    ProducerCard,
  },

  layout: 'barBack',

  async asyncData({ store }) {
    await store.set('producers/getListOfMine!')
  },

  computed: {
    ...mapState({
      filters: (state) => state.producersfilter.filters,
      producerFilter: (state) => state.producersFilter.filters,
    }),

    producers: sync('producers/listOfMine'),

    municipality() {
      return this.filters.municipality
    },

    producerCardConfig() {
      return {
        canEdit: this.$auth.loggedIn,
        canDelete:
          this.$auth.loggedIn && ['admin'].includes(this.$auth.user.role),
      }
    },
  },

  methods: {
    onProducerCardDelete(producer) {
      this.$store.set('producers/delete!', producer._id)
    },

    onProductsFilterClick(filterSectionValue, filterSectionName) {
      const filter = {}
      filter[filterSectionName] = filterSectionValue
      this.$store.dispatch('producersfilter/set', filter)
      this.$store.dispatch('producersfilter/createQuery')
      this.$store.dispatch('producers/setProducer')
    },
  },
}
</script>
