<template>
  <v-alert
    v-model="visible"
    class="beta-warning rounded-0"
    close-text="Cerrar"
    dense
    dismissible
    text
    type="warning"
  >
    Estamos en fase de desarrollo. Puedes encontrar muchos fallos en la app.
  </v-alert>
</template>

<script>
import { sync } from 'vuex-pathify'

export default {
  computed: {
    visible: sync('alerts/betaWarning@visible')
  }
}
</script>

<style lang="scss">
.beta-warning {
  .v-alert__wrapper {
    justify-content: center;
  }

  .v-alert__content {
    flex: 0 1 content;
  }
}
</style>
