<template>
  <div>
    <portal selector="#layout-title">Editar Categoría de Producto</portal>

    <portal selector="#layout-bar-icon"><v-icon>mdi-arrow-left</v-icon></portal>

    <portal selector="#layout-action">
      <v-btn
        block
        color="primary"
        :disabled="!formValidity"
        :loading="productCategoryUpdating"
        @click="submitForm"
      >
        Actualizar
      </v-btn>
    </portal>

    <product-category-form-comp
      @submit="submitForm"
    ></product-category-form-comp>
  </div>
</template>

<script>
import { sync } from 'vuex-pathify'
import { Portal } from '@linusborg/vue-simple-portal'
import ProductCategoryFormComp from '@/components/ProductCategoryForm.vue'

export default {
  components: {
    Portal,
    ProductCategoryFormComp,
  },

  layout: 'barAndBottomAction',

  middleware: 'admin',

  async asyncData({ store, route }) {
    await store.set('products/getProduct!', route.params.id)
  },

  data() {
    return {
      errors: null,
      productCategoryUpdating: false,
    }
  },

  computed: {
    formValidity: sync('products/formValidity'),
    productCategory: sync('products/product'),
  },

  methods: {
    submitForm() {
      this.productCategoryUpdating = true
      this.$axios
        .put('products/' + this.$route.params.id, this.productCategory)
        .then((_res) => {
          this.productCategoryUpdating = false
          this.$router.back()
        })
        .catch((error) => {
          if (error.response.data.errors) {
            this.errors = error.response.data.errors
          }
        })
    },
  },
}
</script>
